@import url('https://fonts.googleapis.com/css?family=Dosis');
@import url('https://fonts.googleapis.com/css?family=Roboto');
.panel > .panel-heading {
  background-color: #3f51b5 !important;
  border-color: ##f2f2f2 !important;
}
.panel > .panel-heading > .panel-title{
  color: white !important;
  letter-spacing: 1px !important;
  font-family: Roboto, 'Helvetica Neue' ,Helvetica !important;
}

.btn-newpost{
  border: 1px solid rgb(111, 84, 153);
  font-family: Roboto, 'Helvetica Neue' ,Helvetica !important;
  border-radius: 55px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .36);
}
