@import url('https://fonts.googleapis.com/css?family=Dosis');

.panel > .panel-heading {
  color: white!;
  font-family: 'Helvetica Neue' ,Helvetica !important;
  font-size: 14px;
  background-color: #41b3bd !important;
  border-color: ##f2f2f2 !important;
}
.panel > .panel-heading > .panel-title{
  color: #f2f2f2 !important;
  letter-spacing: 1px !important;
  font-family: 'Helvetica Neue' ,Helvetica !important;
}

.btn-newpost{
  border: 1px solid rgb(111, 84, 153);
  border-radius: 55px;
}
