
@import url('https://fonts.googleapis.com/css?family=Hind');
@import url('https://fonts.googleapis.com/css?family=Roboto');
#postShow {
  font-family: Hind, Roboto, 'Helvetica Neue', Helvetica;
}

#postShow .img-main {
  overflow: hidden;
}

#postShow .img-main img {
  display: block !important;
  margin: auto;
  min-height: 200px;
  max-height: 300px;
  width: auto;
  position: relative;
  margin-top:-20px;
}

#postShow p {
  font-size: 20px;
  letter-spacing: .5px;
}

#postShow .footer {
  margin-bottom: 20px;
}
#postShow .footer span {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}

@media screen and (max-width: 767px) {
  #postShow .page-header h1{
    font-size: 30px !important;
  }
  
  #postShow p {
    font-size: 18px;
    letter-spacing: .2px;
    line-height: 1.58;
  }
}
