@import url('https://fonts.googleapis.com/css?family=Roboto');

.new-post{
  padding-top: 0px;
}
.new-post input{
  border: 0;
  font-size: 40px;
  font-family: Roboto, Tahoma, 'Helvetica Neue', Helvetica;
  margin-left: -12px;
}

.new-post .post-img:hover{
  cursor: pointer;
}
.new-post button{
  background: #21A0A0;
  color: white;
}
.new-post button:hover {
  background: #66B3BA;
  color: white;
}

.new-post textarea{
  border: 0;
  font-size: 20px;
  font-family: Baskerville, 'Helvetica Neue', Helvetica, sans-serif;
  height: 150px;
}

input {
  border: 0;
  outline: none !important;
}


.rw-dropdownlist {
  outline: none;
  border: 0px;
  border-bottom: 1px solid black;
  border-radius: 0;
  /*display*/
}
.rw-open {
  border: 0px !important;
}
.rw-state-focus {
  border: 0px;
}
.rw-state-focus: hover {
  border: 0px;
}
