/*NAV BAR*/
/*
Code snippet by maridlcrmn for Bootsnipp.com
Follow me on Twitter @maridlcrmn
*/

/*Nav bar*/
.navbar-brand { position: relative; z-index: 2; color: #3a4e58; font-family: Helvetica !important; }
.navbar-brand:hover {
  color: #86abf9;
}

.navbar-nav.navbar-right .btn { position: relative; z-index: 2; padding: 4px 20px; margin: 10px auto; transition: transform 0.3s; }

.navbar .navbar-collapse { position: relative; overflow: hidden !important; }
.navbar .navbar-collapse .navbar-right > li:last-child { padding-left: 22px; }

.navbar .nav-collapse { position: absolute; z-index: 1; top: 0; left: 0; right: 0; bottom: 0; margin: 0; padding-right: 120px; padding-left: 80px; width: 100%;}
.navbar.navbar-default .nav-collapse { background-color: #f8f8f8; }
.navbar .nav-collapse .navbar-form { border-width: 0; box-shadow: none; }
.nav-collapse>li { float: right; }

.btn.btn-circle { border-radius: 50px; }
.btn.btn-outline { background-color: transparent; }
.navbar .collapsed, .navbar-toggle {
  background: #6f5f5f !important;
}
.navbar .collapsed span, .navbar-toggle span {
  background: white;
}

.navbar-nav.navbar-right>li>a{
  text-transform: uppercase;
  text-decoration: none;
  color: #3a4e58;
}
.navbar-nav.navbar-right>li>a:hover {
  text-decoration: none !important;
  background-color: white;
  color: #86abf9;
}
.navbar-nav.navbar-right .btn:not(.collapsed) {
    background-color: inherit;
    text-transform: uppercase;
    border-color: rgb(111, 84, 153);
    color: #3a4e58;
}

.navbar-nav.navbar-right .btn:not(.collapsed):hover {
    background-color: #86abf9;
    color: white;
}

.navbar.navbar-default .nav-collapse,
.navbar.navbar-inverse .nav-collapse {
    height: auto !important;
    transition: transform 0.3s;
    transform: translate(0px,-50px);
}
.navbar.navbar-default .nav-collapse.in,
.navbar.navbar-inverse .nav-collapse.in {
    transform: translate(0px,0px);
}


@media screen and (max-width: 767px) {
    .navbar .navbar-collapse .navbar-right > li:last-child { padding-left: 15px; padding-right: 15px; }

    .navbar .nav-collapse { margin: 7.5px auto; padding: 0; }
    .navbar .nav-collapse .navbar-form { margin: 0; }
    .nav-collapse>li { float: none; }

    .navbar.navbar-default .nav-collapse,
    .navbar.navbar-inverse .nav-collapse {
        transform: translate(-100%,0px);
    }
    .navbar.navbar-default .nav-collapse.in,
    .navbar.navbar-inverse .nav-collapse.in {
        transform: translate(0px,0px);
    }

    .navbar.navbar-default .nav-collapse.slide-down,
    .navbar.navbar-inverse .nav-collapse.slide-down {
        transform: translate(0px,-100%);
    }
    .navbar.navbar-default .nav-collapse.in.slide-down,
    .navbar.navbar-inverse .nav-collapse.in.slide-down {
        transform: translate(0px,0px);
    }
}
/*End of NavBar*/

/*Home page*/
.panel > .panel-heading {
  color: white!;
  background-color: #6f5f5f !important;
  border-color: ##f2f2f2 !important;
}
.panel > .panel-heading > .panel-title{
  color: #f2f2f2 !important;
}
/*End of Home page*/

/*PROFILEPAGe*/
.card {
    padding-top: 20px;
    margin: 10px 0 20px 0;
    background-color: rgba(214, 224, 226, 0.2);
    border-top-width: 0;
    border-bottom-width: 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card .card-heading {
    padding: 0 20px;
    margin: 0;
}

.card .card-heading.simple {
    font-size: 20px;
    font-weight: 300;
    color: #777;
    border-bottom: 1px solid #e5e5e5;
}

.card .card-heading.image img {
    display: inline-block;
    width: 46px;
    height: 46px;
    margin-right: 15px;
    vertical-align: top;
    border: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.card .card-heading.image .card-heading-header {
    display: inline-block;
    vertical-align: top;
}

.card .card-heading.image .card-heading-header h3 {
    margin: 0;
    font-size: 14px;
    line-height: 16px;
    color: #262626;
}

.card .card-heading.image .card-heading-header span {
    font-size: 12px;
    color: #999999;
}

.card .card-body {
    padding: 0 20px;
    margin-top: 20px;
}

.card .card-media {
    padding: 0 20px;
    margin: 0 -14px;
}

.card .card-media img {
    max-width: 100%;
    max-height: 100%;
}

.card .card-actions {
    min-height: 30px;
    padding: 0 20px 20px 20px;
    margin: 20px 0 0 0;
}

.card.people {
    position: relative;
    display: inline-block;
    width: 170px;
    height: 300px;
    padding-top: 0;
    margin-left: 20px;
    overflow: hidden;
    vertical-align: top;
}

.card.people:first-child {
    margin-left: 0;
}

.card.people .card-top {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 170px;
    height: 150px;
    background-color: #ffffff;
}

.card.people .card-top.green {
    background-color: #53a93f;
}

.card.people .card-top.blue {
    background-color: #427fed;
}

.card.people .card-info {
    position: absolute;
    top: 150px;
    display: inline-block;
    width: 100%;
    height: 101px;
    overflow: hidden;
    background: #ffffff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card.people .card-info .title {
    display: block;
    margin: 8px 14px 0 14px;
    overflow: hidden;
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    color: #404040;
}

.card.people .card-info .desc {
    display: block;
    margin: 8px 14px 0 14px;
    overflow: hidden;
    font-size: 12px;
    line-height: 16px;
    color: #737373;
    text-overflow: ellipsis;
}

.card.people .card-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    padding: 10px 20px;
    line-height: 29px;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card.hovercard {
    position: relative;
    padding-top: 0;
    overflow: hidden;
    text-align: center;
    background-color: rgba(214, 224, 226, 0.2);
}

.card.hovercard .cardheader {
    /*background: url("http://lorempixel.com/850/280/nature/4/");*/
    background-size: cover;
    height: 135px;
}

.card.hovercard .avatar {
    position: relative;
    top: -50px;
    margin-bottom: -50px;
}

.card.hovercard .avatar img {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255,255,255,0.5);
}

.card.hovercard .info {
    padding: 4px 8px 10px;
}

.card.hovercard .info .title {
    margin-bottom: 4px;
    font-size: 24px;
    line-height: 1;
    color: #262626;
    vertical-align: middle;
}

.card.hovercard .info .desc {
    overflow: hidden;
    font-size: 12px;
    line-height: 20px;
    color: #737373;
    text-overflow: ellipsis;
}

.card.hovercard .bottom {
    padding: 0 20px;
    margin-bottom: 17px;
}

.card .bottom .btn{ border-radius: 50%; width:32px; height:32px; line-height:18px;  }

.card img.edit-profile-pic:hover{
  cursor: pointer;
  border: solid 5px #A5DBEB;

}
/*END of PROFILEPAGE*/





/*Posts List CSS for Cards*/

/* cards */
.card *:hover{
	text-decoration: none;
}

.card .thumbnail{
	padding: 0;
	border: none;
	text-align: center;
	border-radius: 0;
	-webkit-box-shadow: 0px 0.5px 1px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0.5px 1px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0.5px 1px 0px rgba(0,0,0,0.75);
}

.card .thumbnail .caption{
	margin: -20px 20px 20px 20px;
	padding: 19px 29px 19px 29px;
	position: relative;
	background-color: white;
}

.card .thumbnail .caption h3 small{
	font-style: italic;
	text-transform: none;
	letter-spacing: 0;
	font-weight: 400;
	font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
	display: block;
	padding: 5px;
}

.card .thumbnail .caption h3{
	font-family: 'Raleway',sans-serif;
	font-weight: 600;
	letter-spacing: -1px;
	margin-top: 0;
	font-size: 18px;
}

.card .thumbnail .caption hr{
	border-top: 1px solid #333;
	margin: 10px 40px;
}

.card .thumbnail .caption p{
	font-size: 12px;
	line-height: 1.6;
}
/*End: Post List Css*/



/*PostsNew.js*/
.new-post{
  padding-top: 0px;
}
.new-post input{
  border: 0;
  font-size: 40px;
  font-family: Tahoma;
}

.new-post .post-img:hover{
  cursor: pointer;
}
.new-post button{
  background: #21A0A0;
  color: white;
}
.new-post button:hover {
  background: #66B3BA;
  color: white;
}

.new-post textarea{
  border: 0;
  font-size: 20px;
  font-family: Baskerville;
  height: 150px;
}

textarea:focus, input:focus{
    outline: none;
    outline-style: none;

}
*:focus {
    outline: none;
}
/*End PostsNew.js*/
